@import "../variables";

.btn {
    display: inline-block;
    letter-spacing: 0.6px;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 20px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none !important;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    &.btn_primary {
        color: white;
        background: linear-gradient(180deg, lighten($primary, 10%) 0%, $primary 100%);

        &:hover {
            background: darken($primary, 5%);
        }
    }

    &.btn_secondary {
        background: linear-gradient(180deg, lighten($secondary, 10%) 0%, $secondary 100%);
        color: black;

        &:hover {
            background: darken($secondary, 10%);
        }
    }

    &.btn_success {
        background: $success;
        color: white;

        &:hover {
            background: darken($success, 5%);
        }
    }

    &.btn_dark {
        background: linear-gradient(180deg, lighten($dark, 5%) 0%, $dark 100%);
        color: white;

        &:hover {
            background: darken($dark, 5%);
        }
    }

    &.btn_info {
        background: linear-gradient(180deg, lighten($info, 10%) 0%, $info 100%);
        color: white;
    }

    &.btn_light {
        color: $dark;
        background: $light;

        &.btn_outline {
            color: $light;
            border: 1px solid $light;

            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }
        }
    }

    &.btn_outline {
        background: none;
    }

    &.btn_sm {
        font-size: 12px;
        line-height: 16px;
        padding: 5px 10px;
    }

    &.btn_link {
        background: none;
        box-shadow: none;
        border: none;
        padding: 0;
        font-weight: 400;
        font-size: inherit;
        line-height: 110%;
        border-radius: 0;
        color: $secondary;
        border-bottom: 1px dashed currentColor;
        cursor: pointer;
        display: inline;
        white-space: normal;
        text-transform: none;

        &:hover {
            color: darken($secondary, 10%);
        }
    }

    &.btn_link.btn_sm {
        font-size: 80%;
    }
}

.btn__back {
    font-size: 30px;

}
