.input {
    width: 100%;
    font-size: 16px;
    position: relative;
    padding-top: 6px;

    input[type=color] {
        height: 47px;
    }

    input, textarea, select {
        background: transparent;
        border: 1px solid #c7c7c7;
        border-radius: 5px;
        padding: 10px 25px;
        box-sizing: border-box;
        outline: none !important;
        color: $dark;

        &:focus {
            border: 1px solid $secondary;
        }
    }

    textarea {
        display: block;
    }

    select {
        padding-left: 20px;
        -webkit-appearance: none;
    }

    label {
        align-items: center;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        background: #f3f3f3;
        color: $dark;
        font-size: 14px;
        line-height: 14px;
    }

    input, textarea, select {
        width: 100%;

        //&[type=time] + label, &[type=date] + label, &:focus + label, &.filled + label {
        //    color: #6A6A6A;
        //}

        &:focus + label {
            color: $secondary;
        }
    }

    label {
        padding: 0 15px;
    }

    .input__icon {
        position: absolute;
        right: 0;
        height: 45px;
        width: 45px;
        align-items: center;
        justify-content: center;
    }

    &.input_sm {
        input, textarea, select {
            padding: 5px 10px;
        }
    }
}

.checkbox {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 16px;
    min-height: 25px;

    label {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        margin-bottom: 0;
        position: relative;
    }

    input:disabled + label {
        opacity: 0.5;
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        display: none;

        & ~ label {
            &:hover:before {
                border: 1px solid #777575;
            }

            &::before {
                content: "";
                width: 17px;
                height: 17px;
                flex-shrink: 0;
                border-radius: 5px;
                transition: all 0.1s ease-in;
                border: 1px solid #c7c7c7;
                margin-right: 7px;
            }

            &:after {
                content: '✔';
                font-style: normal;
                font-weight: 400;
                speak: none;
                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                margin-right: .2em;
                text-align: center;
                font-variant: normal;
                text-transform: none;
                line-height: 1em;
                margin-left: .2em;
                -webkit-font-smoothing: antialiased;
                transform: translateY(-10px);
                position: absolute;
                color: $dark;
                opacity: 0;
                transition: all 0.1s ease-in;
                pointer-events: none;
                left: -13px;
                top: -8px;
                font-size: 32px;
            }
        }

        &:active ~ label {
            &:before {
                transform: scale(1.3);
            }
        }

        &:checked ~ label {
            &::after {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &.checkbox_vertical {

        label {
            padding-left: 0 !important;
            padding-top: 30px;
            min-width: 25px;

            &:before {
                bottom: auto !important;
            }
        }
    }

    &.checkbox_dark {
        input + label:after {
            color: black;
        }
    }

    &.checkbox_sm {
        font-size: 14px;
    }
}

.switch {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 16px;
    min-height: 25px;

    label {
        display: flex;
        cursor: pointer;
        margin-bottom: 0;
        color: inherit;
    }

    input:disabled + label {
        opacity: 0.5;
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;

        & ~ label {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: space-between;
            width: 100%;


            &:hover:before {
                box-shadow: 0 0 10px #00000047;
            }

            &::before {
                content: "";
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: $primary;
                right: 25px;
                transition: transform 0.1s ease-in;
            }

            &::after {
                content: "";
                width: 50px;
                height: 10px;
                flex-shrink: 0;
                border-radius: 5px;
                background: $dark;
                border: 1px solid #6580e22b;
                transition: background 0.1s ease-in;
            }
        }

        &:checked {
            & ~ label::before {
                transform: translateX(30px);
            }

            & ~ label::after {
                background: $light;
            }
        }

    }
}

.radio {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 16px;

    label {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        margin-bottom: 0;
    }

    input:disabled + label {
        opacity: 0.5;
    }

    input[type=radio] {
        opacity: 0;
        position: absolute;

        & ~ label {
            &::before {
                content: "";
                width: 17px;
                height: 17px;
                flex-shrink: 0;
                background: #f8f9fa;
                border: 2px solid rgba(130, 46, 198, 0.3);
                border-radius: 50%;
                transition: all 0.1s ease-in;
                margin-right: 5px;
            }

        }

        &:checked ~ label::before {
            border-color: $secondary;
        }

        &:checked ~ label::after {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #6580e2;
            position: absolute;
            left: 6px;
            top: 6px;
            margin: auto;
            z-index: 3;
        }

        &:active ~ label::before {
            transform: scale(1.1);
        }
    }
}

.multiselect {
    padding-top: 5px;
}

.multiselect__placeholder {
    position: absolute;
    background: #f3f3f3;
    padding: 0 15px;
    left: 0;
    top: 0;
    color: $dark;
    font-size: 14px;
    line-height: 14px;
}

.multiselect__tags {
    background: none;
    border-color: #c7c7c7;
    min-height: 46px;
}

.multiselect__input, .multiselect__single {
    background: none;
    color: $dark;
    margin-bottom: 0;
    min-height: 30px;
    display: flex;
    align-items: center;

    &::placeholder {
        color: $dark;
    }
}

.multiselect__option--highlight {
    background: #ececec;
    color: $dark;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: $secondary;

    * {
        color: white !important;
    }
}

.multiselect__spinner {
    background: #f3f3f3;
    height: calc(100% - 7px);
    top: 6px;
    border-radius: 50%;
}
