.table {
    width: 100%;

    thead {
        font-weight: bold;
    }

    td {
        padding: 15px 10px;
    }

    tbody {
        tr:nth-child(odd) {
            background: white;
        }
    }
}
