@mixin styled-scroll {
    @include media-breakpoint-up(md) {
        &::-webkit-scrollbar {
            width: 14px;
            background: #f3f3f3;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f3f3f3;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #ffffff;
            border-radius: 10px;
            border: 3px solid #e7e7e7;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $primary;
        }
    }
}

@mixin scroll-sidebar {
    @include media-breakpoint-up(md) {
        &::-webkit-scrollbar {
            width: 8px;
            background: #f3f3f3;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f3f3f3;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #373737;
            border-radius: 10px;
            border: 1px solid #e7e7e7;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: white;
        }
    }
}
