<template>
    <div>
        <content-header>
            Мои агенты
        </content-header>
        <table class="table">
            <thead>
            <tr>
                <td>Дата регистрации</td>
                <td>Имя</td>
                <td>Скидка</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="agent in $store.state.agents.items">
                <td>{{ formatDatetime(agent.createdAt) }}</td>
                <td>{{ agent.name }}</td>
                <td>{{ agent.discount }}%</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import {mapState} from "vuex";
import ContentHeader from "@/common/js/components/utils/ContentHeader";
import moment from "moment";

export default {
    name: "TheEmployers",
    components: {ContentHeader},
    computed: {
        ...mapState({
            c_employers: state => state.employers.items,
        }),
    },
    methods: {
        formatDatetime(val) {
            return moment(val).format("DD.MM.YYYY, HH:mm");
        },
    }
}
</script>

<style scoped lang="scss">
@import "~@/common/sass/_variables.scss";
</style>
