<template>
    <form @submit.prevent="c_id ? update() : store()">
        <h3>
            {{ c_id ? `Заказ ${c_id}` : "Новый заказ" }}
            <i class="icon-trash text-danger small" role="button"
               v-if="c_id"
               @click.prevent="destroy"
            ></i>
        </h3>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4">
                <client-search v-model="d_order.client"
                               ref="clientSearch"
                               :include="['agents']"
                />
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="small" v-if="!d_order.client || !d_order.client.agents">
                    Укажите клиента, чтобы увидеть список его агентов.
                </div>
                <div class="input" v-else>
                    <select v-model="d_order.agentId">
                        <option v-for="agent in d_order.client.agents"
                                :value="agent.id"
                        >
                            {{ agent.name }}
                        </option>
                        <option disabled
                                v-if="!d_order.client.agents.length">Список агентов пуст
                        </option>
                    </select>
                    <label>Агент</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="input">
                    <input type="number" step="1" min="1" v-model="d_order.managerId">
                    <label>Manager ID</label>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="input">
                    <select required v-model="d_order.statusId">
                        <option :value="status.id" v-for="status in $store.getters['statuses/order']">
                            {{ status.name }}
                        </option>
                    </select>
                    <label>Статус заказа</label>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="input">
                    <input type="number" min="0" max="100" v-model="d_order.discount">
                    <label>Скидка на заказ</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="checkbox">
                    <input id="need-delivery" type="checkbox" v-model="d_needDelivery">
                    <label for="need-delivery">Нужна доставка</label>
                </div>
            </div>
            <div class="col-12 col-md-8 mb-4">
                <transition-collapse>
                    <div class="input" v-if="d_needDelivery">
                        <input type="text" v-model="d_order.deliveryAddress">
                        <label>Адрес доставки</label>
                    </div>
                </transition-collapse>
            </div>
        </div>
        <div class="input mb-4">
            <textarea v-model="d_order.comment" rows="5"></textarea>
            <label>Комментарий к заказу</label>
        </div>

        <order-items-editor class="mb-4"
                            ref="items"
                            v-model="d_order.items"/>

        <hr/>

        <div class="h4 mb-4 text-right">
            Итого:
            <span class="text-danger order-editor__amount"
                  :class="{'order-editor__amount_discount': this.d_order.discount > 0}"
            >{{ c_amount }} ₽</span>
            <span class="order-editor__total"
                  v-if="d_order.discount > 0"
            >{{ c_total }} ₽</span>
        </div>

        <form-errors class="mb-3"
                     v-if="d_error"
                     :error="d_error"
        />

        <loading-component v-if="d_loading"/>
        <button class="btn btn_primary"
                v-else
        >{{ c_id ? "Применить" : "Создать" }}
        </button>
    </form>
</template>

<script>
import OrderFactory from "@/admin/js/factories/OrderFactory";
import TransitionCollapse from "@/common/js/components/utils/TransitionCollapse";
import OrderItemsEditor from "@/admin/js/components/orders/OrderItemsEditor";
import LoadingComponent from "@/common/js/components/utils/LoadingComponent";
import FormErrors from "@/common/js/components/utils/FormErrors";
import {orders} from "@/admin/js/api";
import ClientSearch from "@/admin/js/components/clients/ClientSearch";

export default {
    name: "OrderEditor",
    components: {ClientSearch, FormErrors, LoadingComponent, OrderItemsEditor, TransitionCollapse},
    props: ["order"],
    computed: {
        c_id() {
            return this.order && this.order.id;
        },
        c_amount() {
            return this.d_order.items.reduce((acc, item) => {
                acc += item.count * item.priceRub;
                return acc;
            }, 0);
        },
        c_total() {
            return this.d_order.discount ? this.c_amount - this.d_order.discount * this.c_amount / 100 : this.c_amount;
        },
    },
    data() {
        return {
            d_needDelivery: false,
            d_order: OrderFactory.create({client: null, agent: null, ...this.order}),
            d_loading: false,
            d_error: null,
        }
    },
    mounted() {
        if (this.c_id) {
            this.d_order.client = this.d_order.agent.client;
            delete this.d_order.agent;
            this.$nextTick(() => {
                this.$refs.clientSearch.loadMissingIncludes();
            })
        } else {
            this.d_order.employerId = this.$store.state.auth.id;
            this.$refs.items.addGood();
        }
        if (this.d_order.deliveryAddress) {
            this.d_needDelivery = true;
        }
    },
    watch: {
        d_needDelivery(val) {
            if (!val) this.d_order.deliveryAddress = null;
        }
    },
    methods: {
        async store() {
            if (this.d_loading) return;
            if (this.validate()) return;
            this.d_error = null;
            this.d_loading = true;
            try {
                const res = await orders.store(this.d_order);
                this.$emit("store", res);
            } catch (e) {
                console.error(e);
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) return;
            if (this.validate()) return;
            this.d_error = null;
            this.d_loading = true;
            try {
                const res = await orders.update(this.c_id, this.d_order);
                this.$emit("update", res);
            } catch (e) {
                console.error(e);
                this.d_error = e;
            }
            this.d_loading = false;
        },
        validate() {
            this.d_order.items.forEach((item, idx) => {
                item.error = (!item.good && !item.goodId) || (!item.status && !item.statusId) || !item.count;
            });
            let errInItems = this.d_order.items.find(item => item.error);
            if (errInItems) {
                this.d_error = {data: {message: "Необходимо заполнить все поля позиций заказа."}};
            }
            return errInItems;
        },
        async destroy() {
            if (this.d_loading) return;
            const confirm = window.confirm("Вы уверены, что хотите удалить этот заказ? Это действие нельзя отменить.");
            if (!confirm) return;

            this.d_error = null;
            this.d_loading = true;
            try {
                const res = await orders.delete(this.c_id);
                this.$emit("delete", res);
            } catch (e) {
                console.error(e);
                this.d_error = e;
            }
            this.d_loading = false;
        }
    },
}
</script>

<style scoped lang="scss">
@import "~@/common/sass/_variables.scss";

.order-editor__amount {
    color: $danger;
}

.order-editor__amount_discount {
    color: $dark !important;
    margin: 0 15px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 120%;
        background: $danger;
        left: -10%;
        bottom: 50%;
        transform: rotate(-15deg);
    }
}

.order-editor__total {
    color: $danger;
}
</style>
