<template>
    <div>
        <content-header>
            Заказы
            <template #actions>
                <i class="icon-plus"
                   @click="d_showModal = true"
                />
            </template>
        </content-header>

        <table class="table">
            <thead>
            <tr>
                <td class="order-row__status"></td>
                <td class="order-row__date">Дата создания</td>
                <td class="order-row__agent">Клиент</td>
                <td class="order-row__items">Позиции заказа</td>
                <td class="order-row__amount">Сумма заказа</td>
                <td class="order-row__open"></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="order in d_orders">
                <td class="order-row__status text-center">
                    <v-badge :color="$store.getters['statuses/findByIdSafe'](order.statusId).color"
                             :background="$store.getters['statuses/findByIdSafe'](order.statusId).background"
                    >{{ $store.getters["statuses/findByIdSafe"](order.statusId).name }}
                    </v-badge>
                </td>
                <td class="order-row__date">{{ formatDatetime(order.createdAt) }}</td>
                <td class="order-row__agent">
                    <div class="mb-2"><span class="font-weight-medium">
                        Клиент:</span> {{ order.agent.client.name }}
                    </div>
                    <div><span class="font-weight-medium">Агент:</span> {{ order.agent.name }}</div>
                </td>
                <td class="order-row__items">
                    <div class="order-item" v-for="item in order.items">
                        <div class="order-item__header">
                            <v-badge :color="$store.getters['statuses/findByIdSafe'](item.statusId).color"
                                     :background="$store.getters['statuses/findByIdSafe'](item.statusId).background"
                            >{{ $store.getters["statuses/findByIdSafe"](item.statusId).name }}
                            </v-badge>
                            <div class="order-item__name">{{ item.good.name }}</div>
                        </div>
                        <div class="order-item__stats">
                            <div class="order-item__count">
                                <b>Количество:</b> {{ item.count }}
                            </div>
                            <div class="order-item__price"><b>Цена:</b> {{ item.priceRub }} ₽</div>
                            <div class="order-item__amount"><b>Стоимость:</b> {{ item.count * item.priceRub }} ₽</div>
                        </div>
                    </div>
                </td>
                <td class="order-row__amount">
                    <span class="order__amount"
                          :class="{'order__amount_discount': order.discount > 0}"
                    >{{ order.amount }} ₽</span>
                    <span class="order__total"
                          v-if="order.discount > 0"
                    >{{ order.total }} ₽</span>
                </td>
                <td class="order-row__open">
                    <a href="#open"
                       @click.prevent="d_showModal = order"
                    >Открыть заказ</a>
                </td>
            </tr>
            </tbody>
        </table>

        <loading-component v-if="d_loading"/>
        <load-more-observer v-model="d_orders"
                            :fetch="fetch"
                            :chunk="30"
                            @fetch="d_loading = true"
                            @fetched="d_loading = false"
                            ref="loadMoreObserver"
        />

        <order-editor-modal v-if="d_showModal"
                            :order="d_showModal"
                            @store="onOrderStore"
                            @update="onOrderUpdate"
                            @delete="onOrderDelete"
                            @close="d_showModal = null"
        />
    </div>
</template>

<script>
import ContentHeader from "@/common/js/components/utils/ContentHeader";
import OrderEditorModal from "@/admin/js/components/orders/OrderEditorModal";
import LoadingComponent from "@/common/js/components/utils/LoadingComponent";
import LoadMoreObserver from "@/common/js/components/utils/LoadMoreObserver";
import {orders} from "@/admin/js/api";
import moment from "moment";
import VBadge from "@/common/js/components/utils/VBadge";

export default {
    name: "TheOrders",
    components: {VBadge, LoadMoreObserver, LoadingComponent, OrderEditorModal, ContentHeader},
    computed: {},
    data() {
        return {
            d_showModal: null,
            d_loading: false,
            d_orders: [],
        }
    },
    mounted() {
    },
    methods: {
        async fetch() {
            let filter = {};
            if (this.$route.query.clientId) {
                filter.clientId = this.$route.query.clientId;
            }
            return await orders.fetch({
                include: "agent.client,items",
                limit: 30,
                offset: this.d_orders.length,
            });
        },
        formatDatetime(val) {
            return moment(val).format("DD.MM.YYYY, HH:mm");
        },
        calcAmount(order) {
            return order.items.reduce((acc, item) => {
                acc += item.priceRub * item.count;
                return acc;
            }, 0);
        },
        onOrderStore(order) {
            this.d_orders.splice(0, 0, order);
            this.d_showModal = null;
        },
        onOrderUpdate(order) {
            const idx = this.d_orders.findIndex(item => item.id == order.id);
            if (idx >= 0) {
                this.d_orders.splice(idx, 1, order);
            }
            this.d_showModal = null;
        },
        onOrderDelete() {
            const idx = this.d_orders.findIndex(item => item.id == this.d_showModal.id);
            if (idx >= 0) {
                this.d_orders.splice(idx, 1);
            }
            this.d_showModal = null;
        },
    }
}
</script>

<style scoped lang="scss">
@import "~@/common/sass/_variables.scss";

.order-row__status {
    width: 180px;
}

.order-row__date {
    width: 170px;
}

.order-row__agent {
    width: 200px;
}

.order-row__items {
    width: auto;
}

.order-row__amount {
    width: 160px;
    text-align: center;
}

.order-row__open {
    width: 120px;
    text-align: center;
}

.order-item__header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 15px;
    justify-content: flex-start;
    margin-bottom: 7px;

    b {
        font-weight: 500;
    }
}

.order-item__stats {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-gap: 15px;
    justify-content: flex-start;
    font-size: 12px;

    b {
        font-weight: 500;
    }
}

.order__amount {
     color: $danger;
 }

.order__amount_discount {
    color: $dark !important;
    margin: 0 15px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 120%;
        background: $danger;
        left: -10%;
        bottom: 50%;
        transform: rotate(-15deg);
    }
}

.order-item__name {
    color: $secondary;
    font-weight: 500;
}

.order-item + .order-item {
    margin-top: 15px;
}
</style>
