<template>
    <div>
        <content-header>Мой профиль</content-header>
        <form @submit.prevent="update">
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_client.name" id="first-name">
                        <label for="first-name">Название</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_client.login" id="last-name">
                        <label for="last-name">Логин</label>
                    </div>
                </div>
            </div>
            <div class="checkbox mb-4">
                <input type="checkbox" v-model="d_changePassword" id="change-password">
                <label for="change-password">Сменить пароль</label>
            </div>
            <transition-collapse>
                <div class="row" v-if="d_changePassword">
                    <div class="col-12 col-md-4 mb-4">
                        <div class="input">
                            <input type="password" v-model="d_client.password" id="password">
                            <label for="password">Пароль</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="input">
                            <input type="password" v-model="d_client.passwordConfirmation" id="password-confirm">
                            <label for="password-confirm">Подтвердите пароль</label>
                        </div>
                    </div>
                </div>
            </transition-collapse>
            <form-errors class="mb-4"
                         v-if="d_error"
                         :error="d_error"
            />
            <div class="d-flex">
                <button class="btn btn_primary mr-3" type="submit">
                    Применить
                </button>
                <loading-component v-if="d_loading"/>
            </div>
        </form>
    </div>
</template>

<script>
import TransitionCollapse from "@/common/js/components/utils/TransitionCollapse";
import LoadingComponent from "@/common/js/components/utils/LoadingComponent";
import FormErrors from "@/common/js/components/utils/FormErrors";
import ContentHeader from "@/common/js/components/utils/ContentHeader";
import ClientFactory from "@/admin/js/factories/ClientFactory";

export default {
    name: "TheProfile",
    components: {ContentHeader, FormErrors, LoadingComponent, TransitionCollapse},
    data() {
        return {
            d_client: ClientFactory.create({
                ...this.$store.state.auth,
                password: undefined,
                passwordConfirmation: undefined,
            }),
            d_loading: false,
            d_error: null,
            d_changePassword: false,
        }
    },
    methods: {
        async update() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                const res = await this.$store.dispatch("auth/update", this.d_client);
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
    }
}
</script>

<style scoped>

</style>
