<template>
    <div class="header-search">
        <input type="text" id="search"
               :class="{filled: value}"
               :value="value"
               @input="$emit('input', $event.target.value)"
        />
        <div class="header-search__icon" v-show="!value">
            <span class="iconify"
                  data-icon="ant-design:search-outlined"
                  data-inline="false"
            ></span>
        </div>
        <span class="header-search__clear iconify"
              v-show="value"
              @click="$emit('input', null)">&times;</span>
    </div>
</template>

<script>
    export default {
        name: "HeaderSearch",
        props: ['value'],
    }
</script>

<style scoped lang="scss">
    @import "~@/common/sass/_variables.scss";

    .header-search {
        max-width: 100%;
        margin-left: auto;
        position: relative;

        input {
            padding-left: 40px;
            height: 50px;
            box-shadow: none;
            background: none;
            color: white;
            border: 1px solid #c7c7c7;
            border-radius: 5px;
            width: 300px;
        }

        @include media-breakpoint-down(md) {
            position: absolute;
            background: #333333;
            right: 0;
            width: auto;
            top: 10px;
            padding: 0 15px;

            input {
                border: none;
                width: 50px;
                padding: 0;
                margin-right: -15px;

                &:focus, &.filled {
                    padding-left: 50px;
                    width: calc(100vw - 30px);
                    margin-right: 0;

                    & ~ .header-search__icon, & ~ .header-search__clear, {
                        left: 15px;
                    }
                }
            }
        }

        .header-search__icon {
            pointer-events: none;
        }

        .header-search__icon, .header-search__clear, {
            position: absolute;
            top: 0;
            font-size: 24px;
            width: 50px;
            height: 50px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
</style>
