<template>
    <span class="badge"
          :style="c_style"
    ><slot/></span>
</template>

<script>
export default {
    name: "VBadge",
    props: {
        background: {
            default: "#ffdfdf",
        },
        color: {
            default: "#545454",
        },
    },
    computed: {
        c_style() {
            return {
                background: this.background,
                color: this.color,
            }
        }
    }
}
</script>

<style scoped lang="scss">
.badge {
    padding: 6px 6px;
    display: inline-block;
    border-radius: 7px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
</style>
