<template>
    <div>
        <content-header>
            Сотрудники
            <template #actions>
                <router-link class="icon-plus"
                             :to="{name: 'employers.create'}"/>
            </template>
        </content-header>
        <table class="table">
            <thead>
            <tr>
                <td>Сотрудник</td>
                <td>Должность</td>
                <td>E-Mail</td>
                <td>Телефон</td>
                <td>Доступ</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="employer in c_employers">
                <td>{{ employer.lastName }} {{ employer.firstName }}</td>
                <td>{{ employer.position }}</td>
                <td>{{ employer.email }}</td>
                <td>{{ employer.phone }}</td>
                <td>{{ employer.hasAccess ? "Да" : "Нет" }}</td>
                <td class="text-right">
                    <router-link class="icon-edit"
                                 :to="{name: 'employers.edit', params:{employerId: employer.id}}"
                    />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import {mapState} from "vuex";
import ContentHeader from "@/common/js/components/utils/ContentHeader";

export default {
    name: "TheEmployers",
    components: {ContentHeader},
    computed: {
        ...mapState({
            c_employers: state => state.employers.items,
        }),
    },
    methods: {}
}
</script>

<style scoped lang="scss">
@import "~@/common/sass/_variables.scss";
</style>
