<template>
    <div class="message">
        <slot/>
    </div>
</template>

<script>
export default {
    name: "VMessage"
}
</script>

<style scoped lang="scss">
.message {
    background: white;
    font-size: 14px;
    line-height: 18px;
    border-radius: 7px;
    padding: 15px;
    display: inline-block;
}
</style>
