$primary: rgba(#e98b02, 1);
$secondary: rgba(#5874f1, 1);
$dark: rgba(#415F77, 1);
$gray: rgba(#D1E9EA, 1);
$success: rgba(#2EC69C, 1);
$danger: rgba(#fb1717, 1);
$light: rgba(#D1E9EA, 1);

$base-font-family: 'Rubik', sans-serif;
$header-font-family: 'Rubik', sans-serif;

$base-font: 16px/150% $base-font-family;

$h1-font: 400 64px/100% $header-font-family;
$h1-font-sm: 400 36px/130% $header-font-family;

$h2-font: 400 48px/125% $header-font-family;
$h2-font-sm: 400 32px/130% $header-font-family;

$h3-font: 400 28px/100% $header-font-family;
$h3-font-sm: 400 24px/130% $header-font-family;

$h4-font: 500 24px/130% $base-font-family;
$h4-font-sm: 500 18px/130% $base-font-family;

$h5-font: 500 18px/125% $base-font-family;
$h5-font-sm: 500 18px/125% $base-font-family;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1230px,
);

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "resources/common/sass/mixins/typo";
@import "resources/common/sass/mixins/scroll";
