<template>
    <div>
        <content-header>
            Агенты
            <template #actions>
                <router-link class="icon-plus"
                             :to="{name: 'agents.create'}"/>
            </template>
        </content-header>

        <table class="table">
            <thead>
            <tr>
                <td>
                    Агент
                </td>
                <td>Клиент</td>
                <td>Скидка</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="agent in d_agents">
                <td>
                    {{ agent.name }}
                    <div class="small text-muted">
                        <div>
                            Telegram Code: {{ agent.tgCode }}
                        </div>
                    </div>
                </td>
                <td>{{ agent.client.name }}</td>
                <td>{{ agent.discount }}%</td>
                <td class="text-right">
                    <router-link class="icon-edit"
                                 :to="{name: 'agents.edit', params:{agentId: agent.id}}"
                    />
                </td>
            </tr>
            </tbody>
        </table>

        <loading-component v-if="d_loading"/>
        <load-more-observer v-model="d_agents"
                            :fetch="fetch"
                            :chunk="30"
                            @fetch="d_loading = true"
                            @fetched="d_loading = false"
                            ref="loadMoreObserver"
        />
    </div>
</template>

<script>
import ContentHeader from "@/common/js/components/utils/ContentHeader";
import AgentCard from "@/admin/js/components/agents/AgentCard";
import LoadingComponent from "@/common/js/components/utils/LoadingComponent";
import LoadMoreObserver from "@/common/js/components/utils/LoadMoreObserver";
import {agents} from "@/admin/js/api";

export default {
    name: "TheAgents",
    components: {LoadMoreObserver, LoadingComponent, AgentCard, ContentHeader},
    data() {
        return {
            d_agents: [],
            d_loading: false,
        }
    },
    methods: {
        async fetch() {
            let filter = {};
            if (this.$route.query.clientId) {
                filter.clientId = this.$route.query.clientId;
            }
            return await agents.fetch({
                limit: 30,
                filter: filter,
                offset: this.d_agents.length,
                include: "client",
            });
        }
    }
}
</script>

<style scoped lang="scss">
@import "~@/common/sass/_variables.scss";

.agents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
}
</style>
