<template>
    <div>
        <content-header>
            {{ c_new ? "Добавление агента" : "Редактирование агента" }}
            <template #actions v-if="!c_new">
                <i class="icon-trash text-danger"
                   @click="destroy"
                />
            </template>
        </content-header>
        <form @submit.prevent="c_new ? submit() : update()"
              v-if="d_agent"
        >
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_agent.name">
                        <label>Имя агента</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_agent.tgCode">
                        <label>Telegram Code</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <client-search v-model="d_agent.client"/>
                </div>

                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_agent.managerId">
                        <label>Manager ID</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_agent.workerId">
                        <label>Worker ID</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="number" min="0" max="100" step="0.1" v-model.number="d_agent.discount">
                        <label>Скидка</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="checkbox">
                        <input type="checkbox" v-model="d_agent.active">
                        <label>Активен</label>
                    </div>
                </div>
            </div>
            <form-errors class="mb-4"
                         v-if="d_error"
                         :error="d_error"
            />
            <div class="d-flex">
                <button class="btn btn_primary mr-3" type="submit">
                    {{ c_new ? "Создать" : "Обновить" }}
                </button>
                <loading-component v-if="d_loading"/>
            </div>
        </form>
        <loading-component v-else/>
    </div>
</template>

<script>
import LoadingComponent from "@/common/js/components/utils/LoadingComponent";
import FormErrors from "@/common/js/components/utils/FormErrors";
import TransitionCollapse from "@/common/js/components/utils/TransitionCollapse";
import ContentHeader from "@/common/js/components/utils/ContentHeader";
import AgentFactory from "@/admin/js/factories/AgentFactory";
import ClientSearch from "@/admin/js/components/clients/ClientSearch";
import {agents} from "@/admin/js/api";

export default {
    name: "TheEmployerEditor",
    components: {ClientSearch, ContentHeader, TransitionCollapse, FormErrors, LoadingComponent},
    props: [],
    data() {
        return {
            d_agent: null,
            d_loading: false,
            d_error: null,
            d_changePassword: false,
        }
    },
    computed: {
        c_new() {
            return this.$route.name === "agents.create";
        },
    },
    async mounted() {
        this.d_agent = this.c_new ?
            AgentFactory.create() :
            AgentFactory.create(await agents.fetchOne(this.$route.params.agentId, {
                include: "client",
            }))
    },
    methods: {
        async submit() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                const res = await agents.store(this.d_agent);
                this.$router.push({name: "agents"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                const res = await agents.update(this.$route.params.agentId, this.d_agent);
                this.$router.push({name: "agents"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async destroy() {
            if (this.d_loading) return;
            const confirm = window.confirm("Вы уверены, что хотите удалить этот агент? Эту операцию нельзя отменить");
            if (confirm) {
                this.d_loading = true;
                try {
                    await agents.delete(this.d_agent.id);
                    this.$router.push({name: "agents"});
                } catch (e) {
                    this.d_error = e;
                }
                this.d_loading = false;
            }
        },
    }
}
</script>

<style scoped>

</style>
