<template>
    <modal-component @close="$emit('close')">
        <form @submit.prevent="d_status.id ? update() : store()">
            <div class="input mb-4">
                <input type="text" v-model="d_status.name">
                <label>Название статуса</label>
            </div>
            <div class="input mb-4">
                <select v-model="d_status.type">
                    <option value="order">Заказ</option>
                    <option value="order_item">Позиция заказа</option>
                </select>
                <label>Тип статуса</label>
            </div>
            <div class="input mb-4">
                <input type="color" v-model="d_status.background">
                <label>Цвет</label>
            </div>
            <div class="input mb-4">
                <input type="color" v-model="d_status.color">
                <label>Цвет текста</label>
            </div>
            <div class="mb-4">
                <v-badge :background="d_status.background"
                         :color="d_status.color"
                >Пример подписи статуса
                </v-badge>
            </div>
            <form-errors class="mb-3"
                         v-if="d_error"
                         :error="d_error"
            />

            <loading-component v-if="d_loading"/>
            <button class="btn btn_primary" v-else>
                {{ d_status.id ? "Применить" : "Добавить" }}
            </button>
        </form>
    </modal-component>
</template>

<script>
import ModalComponent from "@/common/js/components/utils/ModalComponent";
import StatusFactory from "@/admin/js/factories/StatusFactory";
import FormErrors from "@/common/js/components/utils/FormErrors";
import LoadingComponent from "@/common/js/components/utils/LoadingComponent";
import VBadge from "@/common/js/components/utils/VBadge";

export default {
    name: "StatusEditorModal",
    components: {VBadge, LoadingComponent, FormErrors, ModalComponent},
    props: ["status"],
    data() {
        return {
            d_status: StatusFactory.create(this.status),
            d_error: null,
            d_loading: false,
        }
    },
    methods: {
        async store() {
            if (this.d_loading) return;
            this.d_loading = true;
            try {
                await this.$store.dispatch("statuses/store", this.d_status);
                this.$emit("close");
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) return;
            this.d_loading = true;
            try {
                await this.$store.dispatch("statuses/update", {id: this.d_status.id, data: this.d_status});
                this.$emit("close");
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
    }

}
</script>

<style scoped>

</style>
