<template>
    <vue-multiselect placeholder="Клиент"
                     label="name"
                     :options="d_clients"
                     :value="value"
                     :allow-empty="true"
                     :showLabels="false"
                     :loading="d_loading"
                     @search-change="onSearch"
                     @input="$emit('input', arguments[0])"
    >
        <template #noOptions>Начните вводить имя клиента</template>
        <template #option="{option}">
            <div class="client-search__option">
                {{ option.name }} ({{ option.login }})
            </div>
        </template>
        <template #singleLabel="{option}">
            <div class="client-search__option">
                {{ option.name }} ({{ option.login }})
            </div>
        </template>
        <template #noResult>
            <div class="small" v-if="d_query.length < 4">
                Введите минимум 4 символа
            </div>
            <template v-else>
                Клиент не найден
            </template>
        </template>
    </vue-multiselect>
</template>

<script>
import {clients} from "@/admin/js/api";

export default {
    name: "ClientSearch",
    props: ["value", "include"],
    data() {
        return {
            d_clients: [],
            d_loading: false,
            d_query: "",
        }
    },
    async mounted() {
        this.loadMissingIncludes();
    },
    methods: {
        async loadMissingIncludes() {
            if (this.value && this.include) {
                let flag = false;
                this.include.forEach(item => {
                    if (!this.value.hasOwnProperty(item)) flag = true;
                });
                if (flag) {
                    this.d_loading = true;
                    const res = await clients.fetchOne(this.value.id, {
                        include: this.include,
                    });
                    this.$emit("input", res);
                    this.d_loading = false;
                }
            }
        },
        async onSearch(val) {
            this.d_query = val;
            if (!val || val.length < 4 || this.d_loading) return;
            this.d_loading = true;
            this.d_clients = await clients.fetch({
                filter: {
                    query: val,
                },
                include: this.include,
            });
            this.d_loading = false;
        },
    }
}
</script>

<style scoped lang="scss">
@import "~@/common/sass/_variables.scss";
</style>
