<template>
    <div>
        <content-header>
            {{ c_new ? "Добавление клиента" : "Редактирование клиента" }}
            <template #actions v-if="!c_new">
                <i class="icon-trash text-danger"
                   @click="destroy"
                />
            </template>
        </content-header>
        <form @submit.prevent="c_new ? submit() : update()"
              v-if="d_client"
        >
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_client.name">
                        <label>Имя</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="input">
                        <input type="text" v-model="d_client.login">
                        <label>Логин</label>
                    </div>
                </div>
            </div>
            <div class="checkbox mb-4" v-if="!c_new">
                <input type="checkbox" v-model="d_changePassword" id="change-password">
                <label for="change-password">Сменить пароль</label>
            </div>
            <transition-collapse>
                <div class="row" v-if="c_new || d_changePassword">
                    <div class="col-12 col-md-4 mb-4">
                        <div class="input">
                            <input type="password" v-model="d_client.password" id="password">
                            <label for="password">Пароль</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="input">
                            <input type="password" v-model="d_client.passwordConfirmation" id="password-confirm">
                            <label for="password-confirm">Подтвердите пароль</label>
                        </div>
                    </div>
                </div>
            </transition-collapse>
            <form-errors class="mb-4"
                         v-if="d_error"
                         :error="d_error"
            />
            <div class="d-flex">
                <button class="btn btn_primary mr-3" type="submit">
                    {{ c_new ? "Создать" : "Обновить" }}
                </button>
                <loading-component v-if="d_loading"/>
            </div>
        </form>
        <loading-component v-else/>
    </div>
</template>

<script>
import LoadingComponent from "@/common/js/components/utils/LoadingComponent";
import FormErrors from "@/common/js/components/utils/FormErrors";
import TransitionCollapse from "@/common/js/components/utils/TransitionCollapse";
import ContentHeader from "@/common/js/components/utils/ContentHeader";
import ClientFactory from "@/admin/js/factories/ClientFactory";
import {clients} from "@/admin/js/api";
import VMessage from "@/common/js/components/messages/VMessage";

export default {
    name: "TheClientEditor",
    components: {VMessage, ContentHeader, TransitionCollapse, FormErrors, LoadingComponent},
    props: [],
    data() {
        return {
            d_client: null,
            d_loading: false,
            d_error: null,
            d_changePassword: false,
        }
    },
    computed: {
        c_new() {
            return this.$route.name === "clients.create";
        },
    },
    async mounted() {
        this.d_client = this.c_new ?
            ClientFactory.create() : ClientFactory.create(await clients.fetchOne(this.$route.params.clientId));
    },
    methods: {
        async submit() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                await clients.store(this.d_client);
                this.$router.push({name: "clients"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) return;
            this.d_loading = true;
            this.d_error = null;
            try {
                await clients.update(this.$route.params.clientId, this.d_client);
                this.$router.push({name: "clients"});
            } catch (e) {
                this.d_error = e;
            }
            this.d_loading = false;
        },
        async destroy() {
            if (this.d_loading) return;
            const confirm = window.confirm("Вы уверены, что хотите удалить этого пользователя? Эту операцию нельзя отменить");
            if (confirm) {
                this.d_loading = true;
                try {
                    await clients.delete(this.$route.params.clientId);
                    this.$router.push({name: "clients"});
                } catch (e) {
                    this.d_error = e;
                }
                this.d_loading = false;
            }
        },
    }
}
</script>

<style scoped>

</style>
