<template>
    <div>
        <content-header>
            Клиенты
            <template #actions>
                <router-link class="icon-plus"
                             :to="{name: 'clients.create'}"/>
            </template>
        </content-header>

        <table class="table">
            <thead>
            <tr>
                <td>Клиент</td>
                <td>Логин</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="client in d_clients">
                <td>{{ client.name }}</td>
                <td>{{ client.login }}</td>
                <td class="text-right">
                    <router-link class="icon-edit"
                                 :to="{name: 'clients.edit', params:{clientId: client.id}}"
                    />
                </td>
            </tr>
            </tbody>
        </table>

        <loading-component v-if="d_loading"/>
        <load-more-observer v-model="d_clients"
                            :fetch="fetch"
                            :chunk="30"
                            @fetch="d_loading = true"
                            @fetched="d_loading = false"
                            ref="loadMoreObserver"
        />
    </div>
</template>

<script>
import ContentHeader from "@/common/js/components/utils/ContentHeader";
import LoadingComponent from "@/common/js/components/utils/LoadingComponent";
import LoadMoreObserver from "@/common/js/components/utils/LoadMoreObserver";
import {clients} from "@/admin/js/api";

export default {
    name: "TheClients",
    components: {LoadMoreObserver, LoadingComponent, ContentHeader},
    computed: {},
    data() {
        return {
            d_clients: [],
            d_loading: false,
        }
    },
    methods: {
        async fetch() {
            let filter = {};
            if (this.$route.query.clientId) {
                filter.clientId = this.$route.query.clientId;
            }
            return await clients.fetch({
                limit: 30,
                offset: this.d_clients.length,
            });
        }
    }
}
</script>

<style scoped lang="scss">
@import "~@/common/sass/_variables.scss";
</style>
